* {
    box-sizing: border-box;

}
body {
    margin: 0;
}
nav {
    background: grey;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
a {
    color: black;
    display: inline-block;
}
.nav-link {
    display: flex;
    align-self: center;

}
.nav-items {
    display: flex;
}
.logos {
    display: flex;
    justify-content: center;
}