body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info {
    color: purple;
    width: 80%;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px lightgray;
    border-style: solid;
    border-radius: 4px;
    background-color: powderblue;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;

}
.message-success {
    color: green;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8px;
    border: 1px lightgray;
    border-style: solid;
    border-radius: 4px;
    background-color: greenyellow;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.message-warning {
    color: goldenrod;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8px;
    border: 1px lightgray;
    border-style: solid;
    border-radius: 4px;
    background-color: yellow;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.message-error {
    color: darkred;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8px;
    border: 1px lightgray;
    border-style: solid;
    border-radius: 4px;
    background-color: pink;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}