body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    width: 90%;
    margin: 0 auto;
    margin-top: .5em;
    margin-bottom: .5em;
    border: 1px lightgray;
    border-style: solid;
    border-radius: .5em;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;

}
.message-info {
    color: purple;
    background-color: powderblue;
}
.message-success {
    color: green;
    background-color: greenyellow;
}

.message-warning {
    color: goldenrod;
    background-color: yellow;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.message-error {
    color: darkred;
    background-color: pink;
}