@font-face {
    font-family: 'Pricedown';
    src: url('css/pricedown.ttf') format('truetype');
}

.navbar-item {
    color: white;

}
#temps {
    display: flex;
    font-weight: bold;
    justify-content: center;
}
#icons {
    display: flex;
    justify-content: center;
}
.card-header {
    display: flex;
    justify-content: center;
    font-weight: bold;
}
#searchBar {
    padding: 2em;
}