#searchBar {
    padding: .5em;
}
#currentCity {
    font-family: 'Pricedown';
    font-size: x-large;
}
#appName {
    font-family: 'Pricedown';
    font-size: xxx-large;
}

#cards {
    margin-bottom: .5em;
}

#cards:hover {
    box-shadow: 0px 10px 50px rgb(0, 2, 12);
}
#temps {
    display: flex;
    font-weight: bold;
    justify-content: center;
}
#icons {
    display: flex;
    justify-content: center;
}
.card-header {
    display: flex;
    justify-content: center;
    font-weight: bold;
}


